<html>

<head>
  <!-- <link href="../public/css/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/style.css" rel="stylesheet">
  <script src="../public/css/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: green;">
  <div style="width:99%;">
    <div class="row">
      <div class="col-12" style="padding:3rem">
        <div class="card" style="background-color: hsla(0,0%,100%,.6);height: 90vh">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="text-align: center;" style="padding: 2rem;">
                <h5>ข้อมูลการลงทะเบียน</h5>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4" style="text-align: right;">ชื่อ</div>
                  <div class="col-8">
                    <input type="text" class="form-control" readonly value="<%= fname %>">
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4"  style="text-align: right;">นามสกุล</div>
                  <div class="col-8">
                    <input type="text" class="form-control" readonly value="<%= lname %>">
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4"  style="text-align: right;">email</div>
                  <div class="col-8">
                    <input type="text" name="email" class="form-control" value="<%= email %>">
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4"  style="text-align: right;">เบอร์โทรศัพท์</div>
                  <div class="col-8">
                    <input type="text" name="tel" class="form-control" placeholder="กรุณาระบุ">
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4"></div>
                  <div class="col-4" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="ciso"> เป็น CISO ประจำ/ของ
                  </div>
                  <div class="col-4">
                    <input type="text" style="height: 2rem;" class="form-control" name="ciso_name" placeholder="โปรดระบุ เช่น เขต 1">
                  </div>
                  <div class="col-4"></div>
                  <div class="col-4" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="ผู้แทนciso"> เป็นผู้แทน CISO ประจำ/ของ
                  </div>
                  <div class="col-4">
                    <input type="text" style="height: 2rem;" class="form-control" name="ciso_name2" placeholder="โปรดระบุ เช่น สสจ.นนฯ">
                  </div>

                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="นพ.สสจ.">นพ.สสจ.
                  </div>
                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="ผอ.รพ.">ผอ.รพ.
                  </div>
                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="ไอที สสจ.">ไอที สสจ.
                  </div>
                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="ciso" value="ไอที รพ.">ไอที รพ.
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="meeting_type" value="onsite"> เข้าร่วมที่ห้องประชุม
                  </div>
                  <div class="col-4"></div>
                  <div class="col-8" style="text-align: left;height: 2rem;align-self: center;">
                    <input type="radio" name="meeting_type" value="online" checked> เข้าร่วมออนไลน์
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-12">
                    <input type="hidden" name="token" value="<%=token%>">
                    <button id="btn" class="btn btn-success btn-block">ลงทะเบียน</button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="padding: 2rem;">
                <div style="width:100%;text-align: center;">

                  <h4>กำหนดการประชุม</h4>
                  <h5>ประชุมผู้บริหารความมั่นคงปลอดภัยสารสนเทศระดับสูงของสำนักงานปลัดกระทรวงสาธารณสุข ครั้งที่ 1</h5>
                  <h5>หัวข้อ Cyber Security</h5>
                  <h6>วันที่ 18 ธันวาคม 2566 เวลา 08.30 – 12.00 น.</h6>
                  <h6>ณ ห้องประชุมโรงพยาบาลพะเยา และผ่าน Webex</h6>


                </div>
                <br>
                <h7>กลุ่มเป้าหมายผู้เข้าร่วมประชุม ได้แก่ ผู้บริหารความมั่นคงปลอดภัยสารสนเทศระดับสูง (CISO)
                  ระดับโรงพยาบาล ระดับจังหวัด ระดับเขตสุขภาพ ในสังกัดสำนักงานปลัดกระทรวงสาธารณสุขทั่วประเทศ</h7>
                <br>
                <br>
                <h5>รายละเอียด</h5>
                <table>
                  <tr>
                    <td style="width:20%">เวลา</td>
                    <td>กิจกรรม</td>
                  </tr>
                  <tr>
                    <td>08.30 – 09.00 น.</td>
                    <td>การถอดบทเรียนประสบการ์การจัดการกรณีเกิด Ransomware</td>
                  </tr>
                  <tr>
                    <td>09.00 – 09.30 น.</td>
                    <td> บรรยาย แนวทางการรับมือ Ransomware</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>โดย พตอ.ณัทกฤช พรหมจันทร์ สกมช.</td>
                  </tr>


                  <tr>
                    <td>09.30 – 10.00 น.</td>
                    <td> บรรยาย การดำเนินงาน cybersecurity ในโรงพยาบาล
                     </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>โดย ผู้อำนวยการโรงพยาบาลพะเยา</td>
                  </tr>
                  <tr>
                    <td>10.00 – 10.10 น.</td>
                    <td> แนะนำหลักสูตร CISO
                     </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td> โดย นพ.สุรัคเมธ มหาศิริมงคล ผอ.ศทส.สป.</td>
                  </tr>
                  <tr>
                    <td>10.10 – 10.30 น.</td>
                    <td> อภิปราย CISO Role
                   
                      
                     </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>    โดย 1. ดร. กิตติ โฆษะวิสุทธิ์ &nbsp; 2. พตอ.ณัทกฤช พรหมจันทร์ สกมช.</td>
                  </tr>
                  <tr>
                    <td>10.30 – 12.00 น.</td>
                    <td> Cybersecurity โดย INET</td>
                  </tr>
   
              
                  

                </table>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
<script>
  document.getElementById("btn").addEventListener("click", onClickRegister);

  function onClickRegister() {
    const email = document.getElementsByName("email")[0].value;
    const token = document.getElementsByName("token")[0].value;
    const tel = document.getElementsByName("tel")[0].value;
    const ciso = document.getElementsByName("ciso")[0].value;
    const ciso_name = document.getElementsByName("ciso_name")[0].value;
    const ciso_name2 = document.getElementsByName("ciso_name2")[0].value;
    const meeting_type = document.getElementsByName("meeting_type")[0].value;
    window.location.href =
      `https://mymoph.moph.go.th/meeting/confirm/?email=${email}&token=${token}&tel=${tel}&ciso=${ciso}&ciso_name=${ciso_name}&ciso_name2=${ciso_name2}&meeting_type=${meeting_type}`;
  }
</script>