<html>

<head>
  <!-- <link href="../public/css/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/style.css" rel="stylesheet">
  <script src="../public/css/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: green;">
  <div style="width:99%;">
    <div class="row">
      <div class="col-12" style="padding:3rem">
        <div class="card" style="background-color: hsla(0,0%,100%,.6);height: 80vh">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="text-align: center;">

                <img src="https://www.moph.go.th/assets/images/logo-big.png" style="height: 5rem;">

                <br>
                <br>
                <h4>ลงทะเบียนเข้าร่วมประชุม</h4>
                <br>
                <br>
                <h6>คลิกเพื่อลงทะเบียน</h6>
                <a href="https://mymoph.moph.go.th/meeting/request/">
                  <img src="./mymoph.png" style="width:5rem">
                </a>
                <br>
                <br>
                <br>
                <h6>ปิดรับลงทะเบียนวันที่ 18 ธันวาคม 2566 เวลา 09.00 น.</h6>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="padding: 2rem;">
                <div style="width:100%;text-align: center;">

                  <h4>กำหนดการประชุม</h4>
                  <h5>ประชุมผู้บริหารความมั่นคงปลอดภัยสารสนเทศระดับสูงของสำนักงานปลัดกระทรวงสาธารณสุข ครั้งที่ 1</h5>
                  <h5>หัวข้อ Cyber Security</h5>
                  <h6>วันที่ 18 ธันวาคม 2566 เวลา 09.00 – 10.30 น.</h6>
                  <h6>ณ ห้องประชุมโรงพยาบาลพะเยา และผ่าน Webex</h6>


                </div>
                <br>
                <h7>กลุ่มเป้าหมายผู้เข้าร่วมประชุม ได้แก่ ผู้บริหารความมั่นคงปลอดภัยสารสนเทศระดับสูง (CISO)
                  ระดับโรงพยาบาล ระดับจังหวัด ระดับเขตสุขภาพ ในสังกัดสำนักงานปลัดกระทรวงสาธารณสุขทั่วประเทศ</h7>
                <br>
                <br>
                <h5>รายละเอียด</h5>
                <ul>
                  <li>
                    โรงพยาบาลพะเยา นำเสนอการดำเนินงาน Cyber Security ของโรงพยาบาล
                  </li>
                  <li>
                    บรรยายเรื่อง Threat Landscape in health care และบทบาทหน้าที่ของ Health CISO โดย นพ.ภาณุพงศ์
                    ตันติรัตน์ รองผู้อำนวยการศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร สป.สธ.
                  </li>
                  <li>
                    บรรยายเรื่อง หลักสูตร CISO เบื้องต้น โดย นพ.สุรัคเมธ มหาศิริมงคล
                    ผู้อำนวยการศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร สป.สธ.
                  </li>
                  <li>
                    แนะนำหลักสูตร CISO เบื้องต้น
                  </li>
                  <li>
                    บรรยาย (online) เรื่อง CISO in action โดย วิทยากรจาก สกมช.
                    (สำนักงานคณะกรรมการการรักษาความมั่นคงปลอดภัยไซเบอร์)
                  </li>
                </ul>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>